* {
	margin:0;
	padding:0;
}
html, body {
	overflow-x:hidden !important;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	background:#fff;
	position:relative;
	overflow-x: hidden;
}
a {
	text-decoration:none;
}
/****menu****/
.bg-light {
    background-color: #fff !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}
.navbar ul li {
	padding-right:10px;
}
.navbar ul li a {
	color:#000;
	font-family:'Montserrat' sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	transition:.5s;
}
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #F26A57;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #F26A34;
}
/****menu-end****/

/****hero-section****/
.plr-0{
 	padding-left: 0; padding-right: 0;
 }
 .slider-area-right {
 	cursor:grab;
 }
.slider-height {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
.plr-0 .owl-theme .owl-nav  {
  	margin: 0 !important;
    position: absolute;
    bottom: 20px;
    left: -30px;
}
.slider-active .owl-nav [class*=owl-] {
    font-size: 50px !important; 
    padding: 0; 
    color: #fff !important;
    background:transparent !important;
    text-shadow: 2px 2px 5px #000 !important;
}
.slider-active .item {
	padding:0px 60px 0px 0px;
}
.slider-active .item .text{
	display:none;
}
.slider-active .this-item h2 {
	padding-top:270px;
}
.slider-active .item .text h2 {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.slider-active .item .text p {
    font-family: "Montserrat", sans-serif;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
	font-family: "Montserrat", serif;
    font-size: 18px;
    color: #fff !important;
    font-weight: 500;
    margin-top:10px;
    text-align:left; 
    text-shadow: 2px 2px 4px #000000;
}
.slider-active .item h2 {
    font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:55px;
	font-weight:800;
	text-align:left;  
	line-height:1.1em;
	text-shadow: 2px 2px 4px #000000;
    /**text-shadow: 0 1px 0 #af4014, 0 2px 0 #a2380e, 0 3px 0 #b94517, 0 4px 0 #a73406, 0 5px 0 #b33503, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);*/
}
	
/****slider-text****/
#slider-text h1 {
    font-family: 'Montserrat', sans-serif;
	color:#F26A34;
	font-size:90px;
	font-weight:800;
	margin-top:-75vh;
	line-height:1.1em;
}
#slider-text p {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    color:#2f3640;
    margin-top:50px;
    letter-spacing:1px;
    padding-right:25px;
}
/****service-section****/
#service-section {
	background-image:url('images/servicebg.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:100% 100%;
	padding:100px 0px 250px 0px;
}
#service-section h1 {
	font-family:'Montserrat' sans-serif;
	text-transform:capitalize;
	font-size:53px;
	color:#fff;
	margin-bottom:60px;
	font-weight:800;
}
#service-section .icon-content h2 {
	font-family:'Montserrat' sans-serif;
	text-transform:capitalize;
	font-size:25px;
	color:#fff;
	margin-top:30px;
}
.btn-service {
	margin-top:80px;
}
.btn-service a {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color:#F26A34;
    text-decoration: none;
    background-color: #fff;
	padding: 16px 60px;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0 20px 27px 0 rgba(6, 12, 34, 0.1);
	transition:.5s;
}
.btn-service a:hover {
	background:#F26B36;
	color:#fff;
}
/****portfolio****/
#portfolio {
	background-image:url('images/portfolio.png');
	background-size:contain;
	background-repeat:no-repeat;
	background-position:top center;
	margin-top:-180px;
	padding:100px 0px 130px 0px;
}
#portfolio h1 {
	font-family:'Montserrat' sans-serif;
	text-transform:capitalize;
	font-size:53px;
	color:#fff;
	margin-bottom:60px;
	font-weight:800;
}
#portfolio img {
	width:100%;
}
.btn-portfolio {
	margin-top:80px;
}
.btn-portfolio a {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color:#fff;
    text-decoration: none;
    background-color:#F26B36;
	padding: 16px 60px;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0 20px 27px 0 rgba(6, 12, 34, 0.1);
	transition:.5s;
}
.btn-portfolio a:hover {
	background:#fff;
	color:#F26B36;
}
/****team****/
#team {
	background-image:url('images/team.png');
	background-repeat:no-repeat;
	background-size:cover;
	padding:60px 0 0px 0;
}
#team .-team-headings {
	font-family: 'Montserrat', sans-serif;
	color:#95a5a6;
}
#team h2 {
	font-family: 'Montserrat', sans-serif;
	color:#F26A34;
	font-size:44px;
	font-weight:700;
}
#team h5 {
	font-family: 'Montserrat', sans-serif;
	font-size:25px;
	color:#95a5a6;
}
#team .col-md-12 {
	padding-left:0;
	padding-right:0;
}
#team .owl-carousel {
	position:relative;
	margin-top:70px;
}
.featured-project {
	width:100%;
	height:auto;
}
#team .owl-theme .owl-nav {
    margin-top: 30px;
}
#team .owl-theme .owl-nav [class*="owl-"] {
	background:#825339;
	color:#fff; 
	font-size:16px;
	transition:.5s;
	width:30px;
	height:30px;
	text-align:center;
	line-height:;
}
#team .owl-theme .owl-nav [class*="owl-"]:hover {
	background-color:#F26A34;
	opacity:.7;
}
.featured-project .thumbnail {
	padding:0;
	border-radius:0;
	border:0;
}
.featured-project .thumbnail .photo {
	position:relative;
	overflow:hidden;
}
.featured-project .thumbnail .photo .overlayy {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0;
	transition:.5s;
}
.featured-project .thumbnail:hover .photo .overlayy {
	opacity:0.3;
}
.featured-project .thumbnail .photo img {
	width:100%;
	transform:scale(1);
	transition:.5s;
}

.featured-project .thumbnail:hover .photo img {
	transform:scale(1.1);
} 
.featured-project .caption {
	padding:25px;
	transition:.5s;
}
.featured-project .caption h3 {
	margin-top:0;
	color:#10242B;
	font-size:17px;
	font-weight:700;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
	color:#F26A34;
}
.featured-project .caption p {
	margin-bottom:0;
	font-size:15px;
	color:#5C666A;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}
.featured-project .thumbnail:hover .caption {
	background:#F26A34;
}
.featured-project .thumbnail:hover .caption h3 {
	color:#fff;
}
.featured-project .thumbnail:hover .caption p {
	color:#fff;
}
.featured-project .thumbnail:hover .caption .social-icon i {
	color:#fff;
}
.social-icon {
	margin-top:15px;
}
.social-icon i{
	color:#95a5a6;
	font-size:16px;
	padding:0px 5px;
}
.social-icon i:hover{
	color:#fff;
	font-size:15px;
	padding:0px 5px;
}
.btn-team {
	margin-top:50px;
}
.btn-team a {
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	background:#F26B36;
	color:#fff;
	text-transform:uppercase;
	box-shadow: 0 20px 27px 0 rgba(6, 12, 34, 0.1);
	padding:16px 60px;
	border-radius:40px;
	text-decoration:none;
	transition:.5s;
}
.btn-team a:hover {
	background:#fff;
	color:#F26B36;
}
#team .clients h3 {
	font-family: 'Montserrat', sans-serif;
	font-size:50px;
	color:#F26A34;
	float:right;
	font-weight:800;
	text-align:right;
	margin-top:80px;
}
/****counter****/
#counter-up {
	background-image:url('images/counter.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
	height:400px;
}
#counter-up .counter-overlay {
	width:100%;
	height:400px;
	background:rgba(0,0,0, .6);
}
.winner-image {
	margin-top:-80px;
}
#counter-up .winner-image img {
	width:110%;

}
#counter-up .count {
	margin-top:120px;
}
.count span {
	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	color:#fff;
	margin-top:10px;
}
.count h3 {
	font-size:14px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:300;
	letter-spacing:1px;
	margin-top:8px;
}
/****testimonial****/
#testimonial-slider {
	padding:73px 0;
	background:#fff;
	background-image:url('images/testimonial-bg.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
#testimonial-slider h1 {
	font-family: 'Poppins', sans-serif;
	color:#F26A34;
	font-size:50px;
	font-weight:800;
	
}
#testimonial-slider .testi-collum {
	background-image:url('images/testimonial-bg.png');
	background-repeat:no-repeat;
	background-position:top right;
}
#testimonial-slider .col-center {
	margin: 0 auto;
	float: none !important;
}
#testimonial-slider .carousel {
	margin: 50px auto 40px auto;
	padding: 0 70px;
}
#testimonial-slider .carousel-inner {
	max-width:600px;
	margin:0 auto;
}
#testimonial-slider .carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
    /*background-image:url('images/curvy.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;*/
}
#testimonial-slider .carousel-item .testimonial-body  {
	margin-top:30px;
	margin-bottom:30px;
	position:relative;
	padding-top:8px;
	padding-bottom:15px;
	padding-left:40px;
	padding-right:20px;
	line-height:1.9em;
	max-width:480px;
    margin:0 auto;
}
#testimonial-slider .carousel-item .testimonial-body .quote-1 {
	position:absolute;
	top:30px;
	left:30px;
}
#testimonial-slider .carousel-item .testimonial-body .quote-2 {
	position:absolute;
	bottom:30px;
	right:30px;
}


#testimonial-slider .carousel .person {
	width:100%;
	height:auto;
	display:table;
	max-width:480px;
	padding-left:21%;
}
/**#testimonial-slider .person .photo {
	display:table-cell;
	vertical-align:top;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 5px;
}**/
/**#testimonial-slider .person .photo img {
	height:100%;

}**/
#testimonial-slider .person .text {
	display:table-cell;
	vertical-align:top;
}
#testimonial-slider .person .text h3 {
	font-family: 'Montserrat', sans-serif;
	/*float:left;*/
	font-size:18px;
	font-weight:600;
	color:#000;
	text-align:center;
}
#testimonial-slider .person .text h3 span {
	font-family: 'Montserrat', sans-serif;
	font-weight:500;
	font-size:15px;
}
#testimonial-slider .person .text i {
	color:#ffd34b;
}
#testimonial-slider .person .text i:last-child {
	color:#1d8faf;
}

#testimonial-slider .carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 90%;
	background: none;
	right:8%;
}
#testimonial-slider .carousel-control i {
    font-size: 40px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: #F26A34
}
#testimonial-slider .carousel .carousel-indicators {
	bottom: -50px;
}
#testimonial-slider .carousel-indicators li, 
.carousel-indicators li.active {
	width: 25px;
	height: 0px;
	margin: 1px 3px;
	border-radius:0%;
	border-top: none;
	border-bottom: 5px solid transparent;
}
#testimonial-slider .carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
#testimonial-slider .carousel-indicators li.active {	
	background: #F26A34;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
#testimonial-slider .carousel .testimonial {
    padding: 30px 0 10px;
    color: #000;
    font-size:18px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    max-width:480px;
    margin:0 auto;
    margin-top:40px;
    margin-bottom:30px;
}
/****about****/
#about {
	background-color:#F26A34;
	padding:150px 0 150px 0;
	background-image:url('images/rect-90.png');
}
.about-content {
	max-width:1000px;
	margin:0 auto;
}
.about-content h1 {
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-weight:600;
	margin-bottom:40px;
}

.about-content p {
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size:19px;
	font-weight:400;
}
/****contact-us****/
#contact-us {
	background-image:url('images/contact.png');
	background-repeat:no-repeat;
	background-size:contain;
	background-color:#F9CD11;
	padding:150px 0 200px 0;
}
.contact-area {
	padding:30px 0;
}
.contact-area img {
	margin-top:110px;

}
#contact-us h1 {
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	font-size:40px;
	margin-bottom:50px;
}
.contact-area h2 {
	color:#000;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:30px;
	margin-bottom:15px;
}
#contact-us .contact-area {
	background-color:#fff;
	height:auto;
	border-radius:20px;
}
.contact-area .col-md-12 {
    width: 100%;
    margin-bottom: 0px;
}
.form-control {
	border-radius:40px;
	padding:8px 20px;
}
.c-form {
	margin-bottom:20px;
}
.contact-area .buttonss {
	border:2px solid #000;
	font-size:17px;
	padding:10px 24px;
	text-transform:capitalize;
	background-color:#000;
	border-radius:0px 0px 20px 20px;
	color:#F9CD11;
	transition:.5s;
	margin-bottom:0px;
	margin-top:-5px;
}
.buttonss:hover {
	background-color:#E0072F;
	border:2px solid #E0072F;
}
/****map****/
#map iframe {
	width:100%;
}
#map p {
    margin-top: 20px;
    margin-bottom: 20px;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	color:#000;
}
/****footer-area****/
.footer-area {
	width:100%;
	height:auto;
	background:#1B1C1E;
	padding-top:70px;
}
.footer-area .container {

	padding-left:0px;
	padding-right:0px;
}
.footer-area .address {
	padding-right:120px;

}
.footer-area .col-md-4 {
	padding-left:0px;
}
.footer-area h2 {
	color:#fff;
	font-size:20px;
	font-weight: 500;
	margin-bottom: 26px;
}
.contact-body .image img {
	margin-left:30px;
}
.footer-area ul li  {
	margin-bottom:10px;
	list-style:none;
}
.footer-area ul li a {
	color:#ccc;
	
}
.footer-area ul li a:hover {
	color:#F26A34;
	text-decoration:underline;
}
.footer-area .contact-body .address p {
	color:#64676a;
	line-height:28px;
	font-family: 'Montserrat', sans-serif;
	color:#ccc;
	font-size:15px;
	margin-top:20px;
}
.contact-body .address {
	margin-bottom:30px;
	padding-left:35px;
}
.contact-body span {
	color:#bdbdbd;
}
.social  {
	margin-top:30px;
}
 .social ul li {
	text-align:center;
	margin-right:15px;
	transition:.4s;
}
.social ul li i {
	font-size:18px;
}
.copyright {
	text-align:center;
	padding-top:20px;
	padding-bottom:25px;
	margin-top:70px;
	border-top:1px solid #22282c;
}
.copyright p {
	color:#6b7477;
}
/****scrolltop-area****/
.top {
	background:#F26B36;
	color:#fff;
	padding:5px 20px;
	position:fixed;
	bottom:10px;
	right:10px;
	border-radius:0px 0px 0 0;
	z-index:9999;
	font-size:30px;
	display:none;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
}
.top i{
	color:#fff;
}