* {
	margin:0;
	padding:0;
}
html, body {
    overflow-x: hidden !important;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	background:#fff;
	position:relative;
	overflow-x: hidden;
}
a {
	text-decoration:none;
}
/****menu****/
.bg-light {
    background-color: #fff !important;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}
.navbar ul li {
	padding-right:10px;
}
.navbar ul li a {
	color:#000;
	font-family:'Montserrat' sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	transition:.5s;
}
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #F26A57;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #F26A34;
}
/****menu-end****/

/****service-header****/
.service-carousel {
    overflow: hidden;
    position: relative;
    height:100vh;
}
.service-carousel .item {
    color: #fff;
    height:100vh;
    background-repeat: no-repeat;
    background-position:100% 100%;
    -webkit-background-size: cover;
    background-size: cover;
}
.service-carousel .item2 {
	background-position:top right;
}
.service-carousel .item2 .text h2 {
  	color: #fff !important;
    /**margin-top:300px;**/
    text-shadow: 1px 1px 2px #242424;
    /**padding-top: 15%;**/
    position: relative;
    z-index: 99;
}
.service-carousel .item3 {
	background-position:center center;
}
.service-carousel .item3 .text h2 {
	 color:#fff !important;
    /**margin-top:300px;**/
    text-shadow: 1px 1px 2px #242424;
    /**padding-top: 15%;**/
    position: relative;
    z-index: 99;
}
.service-carousel .item .photo {
    width: 100%;
    height: 100%;
}
.service-carousel .item .text h2{
    color:#fff;
    margin-top:570px;
    /**text-shadow: 1px 1px 2px #242424;**/
    /**padding-top: 15%;**/
    position: relative;
    z-index: 99;
}
.service-carousel .item .text h2 {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.service-carousel .item h2 {
    font-family: "Montserrat", sans-serif;
    font-size:30px;
  	font-weight:500;
  	letter-spacing:1px;
  	color:#fff; 
    margin-bottom: 5px;
    display: inline-block;
    padding: 10px 20px;
    margin-top:230px;
    text-align:center;
}

.service-carousel .owl-nav {
    position: relative;
    top: -140px;
}
.service-carousel .owl-prev {
    display: block;
    position: absolute!important;
    top: 44%!important;
    left: 46.4%!important;
}
.service-carousel .owl-next {
    display: block;
    position: absolute!important;
    top: 44%!important;
    right: 46.4%!important;
}
.service-carousel .owl-nav [class*=owl-] {
    font-size: 60px;
    font-weight: bold;
    line-height: 40px;
    padding: 0;
    text-align: center;
    color:#fff;
    background:transparent;
    text-shadow:2px 2px 2px #000;
}
.service-carousel .owl-nav [class*=owl-]:hover {
    background:transparent;
    color:#F26B36;
}
/*************thumbnail**************/
#thumbnail {
  background-color: #fff;
  padding: 80px 0 100px 0px;
}
.thumbnail {
  padding: 0;
  border-radius: 0;
  border: 10px solid #fff;
}
#thumbnail h1 {
  font-family: "Montserrat", sans-serif;
  color: #f26a34;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 30px;
}
.thumbnail .photo {
  position: relative;
  overflow: hidden;
}
.thumbnail .photo .overlayy {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  transition: 0.5s;
}
.thumbnail:hover .photo .overlayy {
  opacity: 0.3;
}
.thumbnail .photo img {
  width: 100%;
  transform: scale(1);
  transition: 0.5s;
}

.thumbnail:hover .photo img {
  transform: scale(1.1);
}
.caption {
  padding: 25px;
  transition: 0.5s;
  background: #f26a34;
}
.caption h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.caption p {
  margin-bottom: 0;
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.social-icon {
  margin-top: 15px;
}
.social-icon i {
  color: #fff;
  font-size: 16px;
  padding: 0px 5px;
}
.social-icon i:hover {
  color: #fff;
  font-size: 15px;
  padding: 0px 5px;
}

/****footer-area****/
.footer-area {
	width:100%;
	height:auto;
	background:#1B1C1E;
	padding-top:70px;
}
.footer-area .container {

	padding-left:0px;
	padding-right:0px;
}
.footer-area .address {
	padding-right:120px;

}
.footer-area .col-md-4 {
	padding-left:0px;
}
.footer-area h2 {
	color:#fff;
	font-size:20px;
	font-weight: 500;
	margin-bottom: 26px;
}
.contact-body .image img {
	margin-left:30px;
}
.footer-area ul li  {
	margin-bottom:10px;
	list-style:none;
}
.footer-area ul li a {
	color:#ccc;
	
}
.footer-area ul li a:hover {
	color:#F26A34;
	text-decoration:underline;
}
.footer-area .contact-body .address p {
	color:#64676a;
	line-height:28px;
	font-family: 'Montserrat', sans-serif;
	color:#ccc;
	font-size:15px;
	margin-top:20px;
}
.contact-body .address {
	margin-bottom:30px;
	padding-left:35px;
}
.contact-body span {
	color:#bdbdbd;
}
.social  {
	margin-top:30px;
}
 .social ul li {
	text-align:center;
	margin-right:15px;
	transition:.4s;
}
.social ul li i {
	font-size:18px;
}
.copyright {
	text-align:center;
	padding-top:20px;
	padding-bottom:25px;
	margin-top:70px;
	border-top:1px solid #22282c;
}
.copyright p {
	color:#6b7477;
}
/****scrolltop-area****/
.top {
	background:#F26B36;
	color:#fff;
	padding:5px 20px;
	position:fixed;
	bottom:10px;
	right:10px;
	border-radius:0px 0px 0 0;
	z-index:9999;
	font-size:30px;
	display:none;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .6);
}
.top i{
	color:#fff;
}